{
  "singleQuote": true,
  "overrides": [
      {
          "files": ["**/*.css", "**/*.scss", "**/*.html", "**/*.jsx", "**/*.js"],
          "options": {
              "singleQuote": false
          }
      }
  ]
}