@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap"); */

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

menu,
ol,
ul {
    padding-left: 0;
}


a {
  /* Places underlines below the descenders */
  text-underline-position: under;


  /* Sets the thickness as a percentage of the font size */
  text-decoration-thickness: 8;
}



@media (prefers-reduced-motion: no-preference) {
  html {
        scroll-behavior: smooth;
  }
}

label,
button,
select,
summary,
[type=radio],
[type=submit],
[type=checkbox] {
    cursor: pointer;
}

:root {
  /* color-scheme: light dark; both supported */
}

textarea:disabled {
  color: rgb(170, 170, 170)
}
textarea {
  font-size: 1rem!important;
}

.label .label-text {
  font-size: 1rem;
}